.contener-promo {
  background-color: #f2f2f2;
  height: 30px;
  position: relative;
}

.contener-promo p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 1em;
}

/*                     Promocao                                */

.contener-menu {
  background-color: white;
  height: 100px;
  position: relative;
}

.contener-menu-logo {
  margin: 10px;
  margin-left: 50px;
}

.contener-menu-logo img {
  display: flex;
  height: 90px;
  width: 90px;
}

.contener-menu-menu {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.contener-menu-menu a:visited {
  color: black;
}

.contener-menu-menu ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
}

.contener-menu-menu ul li a:hover {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  opacity: 0.5;
}

.contener-menu-menu ul li {
  color: #f2f2f2;
  text-align: center;
  border-radius: 3px;
  display: inline;
  margin-right: 50px;
}

#cotener-menu-mobile {
  display: none;
}

#cotener-menu-mobile ion-icon {
  font-size: 2em;
  color: black;
}

.light {
  background-color: red;
}

#cotener-menu-mobile button {
  border: 0;
  background-color: transparent;
}

/*                     slide                                */
.slide-body img {
  max-width: 100%;
  object-fit: cover;
  width: 100vw;
}

/*                     Product box                                */

.Products {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box-1 {
  padding: 5em;
  float: left;
  width: 30%;
  height: 500px;
  margin: 10px;
  position: relative;
}

#box-1::after {
  content: "";
  clear: both;
  display: table;
}

#box-1 img {
  text-align: center;
  height: 10em;
  margin-bottom: 10px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#box-1 p {
  margin: 15px;
  text-align: center;
  color: #83c4c7;
}

#box-1 h3 {
  margin: 20px;
  text-align: center;
  color: #86cacd;
}

#text-product {
  display: block;
  text-align: center;
}

#text-product h3 {
  display: inline;
  font-size: 12px;
  text-decoration: line-through;
  color: #787877;
}

#text-product h1 {
  display: inline-block;
  font-size: 20px;
  color: #86cacd;
}

.bottom-shop {
  position: absolute;
}

#bottom-shop input {
  margin-top: 10px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 40%;
  height: 30px;

  border-radius: 50px;
  border: 0;

  color: white;
  background: #86cacd;
}

/*                     Direitos                                */

.open {
  display: none;
}

footer {
  background: #f2f2f2;
  font-size: small;
  padding: 24px 0px;
  text-align: center;
  text-decoration: none;
}

footer a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contener-promo p {
    font-size: x-small;
    text-align: center;
  }

  #cotener-menu-mobile {
    display: flex;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }

  .slide-body img {
    width: 100%;
    margin: 0;
  }
  .Products {
    flex-direction: column;
  }
  #box-1 {
    border: 0;
    width: 100%;
  }
  .contener-promo p {
    text-align: center;
    font-size: 0.6em;
  }
  .contener-menu-menu {
    display: none;
  }

  #contener-menu-mob {
    margin-top: 0px;
    background-color: white;
    height: 13em;
    position: relative;
  }

  #menu-mobile {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #menu-mobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #menu-mobile ul li {
    display: block;
    margin: 1em;
    background-color: transparent;
  }

  #menu-mobile ul li a {
    text-decoration: none;
    font-size: large;
    color: black;
    margin: 4em;
  }

  footer {
    font-size: 0.8em;
  }
}
